.navigation.transition {
	position: absolute;
	top: calc(20% + 50px);
	width: 100%;
}

.navigation.transition.go {
	top: calc(20%);
}

.navigation .widget-container {
	width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navigation .widget {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

@media(min-width: 768px) {
	.navigation .widget-container {
		width: 720px;
	}
	
	.navigation .widget {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	
	.navigation .widget .nav-widget-container {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		border-width: 10px;
	}
}